.App {
 min-height: 100vh;
 background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.search-form{
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 7vh;
  padding-top:10px;
}
.search-bar{
  width: 50%;
  padding:7px;
  border:none;
  border-radius: 5px;
  margin-right: 10px;
}
.search-button{
  background:lightcoral;
  padding:7px 20px;
  border:none;
  color:white;
  cursor: pointer;
      border-radius: 5px;

}
.recipes{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}